.single_product_long_details{
    width: 100% !important;
}

.single_product_long_details ul{
  list-style: disc !important;
}

.single_product_long_details img{
    width: 100% !important;
}
.aplus-container{
    width: 100% !important;
}